/*  your css code here. If applicable */
p {
      text-align: center;
      margin-bottom: 1px;
    }
    .table-outer {
      display: flex;
      justify-content: center;
    }
table{
	background-color: yellow;
	border: 1px solid black;
}
th{
	border: 1px solid black;
}
tr,td{
	border: 1px solid black;
}