/*  your css code here. If applicable */
p {
	margin-left:30px;
	margin-bottom: 1px;
	//font-weight: bold;
}
table{
	background-color: yellow;
	border: 1px solid black;
}
th{
	border: 1px solid black;
}
tr,td{
	border: 1px solid black;
}